@mixin reset-list {
    list-style-type: none;
    padding:0;
    margin: 0;
}

@mixin flex($jc: space-between , $ai:stretch , $fd:column , $gap:0){
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $fd;
    gap:$gap;
}