body {
  font-family: Poppins;
}

.weather-card {
  background-color: #303030;
  border-radius: 20px;
  color: #ededed;
  display: flex;
}

.weather-card .left {
  flex: 2;
  background-image: url("../img/bg (1).jpg");
  background-size: cover;
  background-position: center center;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.weather-card .left h2, .weather-card .left h4, .weather-card .left h5 {
  margin: 0;
}

.weather-card .right {
  flex: 3;
}
